services:
  usuarios:
    build:
      context: ./microservicios/usuarios
      dockerfile: Dockerfile
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/craftyourstyle
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SERVER_PORT: 8080
    volumes:
      - ./microservicios/usuarios/src:/app/src
    networks:
      - microservices-network

  gateway:
    build:
      context: ./microservicios/gateway
      dockerfile: Dockerfile
    ports:
      - "1010:1010"
    env_file:
      - ./microservicios/gateway/.env
    networks:
      - microservices-network
    depends_on:
      - usuarios
      - transacciones
      - personalizacion
      - catalogo
      - notificaciones

  transacciones:
    build:
      context: ./microservicios/transacciones
      dockerfile: Dockerfile
    expose:
      - "10101"
    env_file:
      - ./microservicios/transacciones/.env
    networks:
      - microservices-network

  personalizacion:
    build:
      context: ./microservicios/personalizacion
      dockerfile: Dockerfile
    expose:
      - "10102"
    env_file:
      - ./microservicios/personalizacion/.env
    networks:
      - microservices-network

  catalogo:
    build:
      context: ./microservicios/catalogo
      dockerfile: Dockerfile
    expose:
      - "10103"
    env_file:
      - ./microservicios/catalogo/.env
    networks:
      - microservices-network

  notificaciones:
    build:
      context: ./microservicios/notificaciones
      dockerfile: Dockerfile
    expose:
      - "10104"
    env_file:
      - ./microservicios/notificaciones/.env
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
