services:
  gateway:
    build:
      context: ./microservicios/gateway
      dockerfile: Dockerfile
    ports:
      - "1010:1010"
    env_file:
      - ./microservicios/gateway/.env
  transacciones:
    build:
      context: ./microservicios/transacciones
      dockerfile: Dockerfile
    ports:
      - "10101:10101"
    env_file:
      - ./microservicios/transacciones/.env
  personalizacion:
    build:
      context: ./microservicios/personalizacion
      dockerfile: Dockerfile
    ports:
      - "10102:10102"
    env_file:
      - ./microservicios/personalizacion/.env
  catalogo:
    build:
      context: ./microservicios/catalogo
      dockerfile: Dockerfile
    ports:
      - "10103:10103"
    env_file:
      - ./microservicios/catalogo/.env
